.ticketInfoContainer {
    display: flex; 
    flex-direction: row;
}

.ticketInfo {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    gap: 10px;
    flex: 0 0 80%;
}

.subject {
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    font-size: 38px;
}

.ticketId{
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    font-size: 23px;
}

.statusButtons {
    gap: 25px;
    border-bottom: 2px solid #7B7B7B;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.editButton {
    margin-left: 4%;
    padding: 4px 8px; 
    font-size: 8px;
}

.deleteButton {
    padding: 4px 8px; 
    font-size: 8px; 
}

.ticketAsset{
    font-family: 'Inter', sans-serif; 
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.backButton{
    width: 30px;
    
}