.sideBarLayout{
    display: flex;
    flex-direction: row; 
    height: 100vh; 
  }
  
  .topBarLayout {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
  }
  
  .sideBar {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
  