.container {
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border-color: black;
}

.header {
    text-align: center;
    font-weight: bold;
}

.formlabel {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

.formControl {
    width: 100%;
    padding: 30px, center;
    padding-right: 0px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color:#8C1D40;
    color: white;
    font-weight: semibold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #A9234D;
}
