.App{
  display: flex;
  flex-direction: row; 
  height: 100vh; 
}

.topBar {
  flex-shrink: 0; 
}

.appContents {
  display: flex; 
  flex-direction: column;
}

.sideBar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
